<h1>All users</h1>

<ul class="users">
  <% @users.includes(:posts).each do |user| %>
    <li class="flex">
      <div class="borderb">
        <img src=<%= user.photo %> alt="User Profile Picture" width=100 height=90>
      </div>
      <div class="borderb flex height110">
        <p class="size"><%= link_to user.name, "users/#{user.id}" %></p>
        <p>Numebr of Posts: <%= user.posts_counter%></p>
      </div>
    </li>
  <% end %>
</ul>

<%= render "layouts/footer" %>