* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(245, 247, 239);
}

body {
  width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  display: flex;
  gap: 20px;
}

p {
  width: 200px;
}

.border {
  border: 1px solid black;
  padding: 5px 10px;
  margin: 0 0 15px 0;
  width: 100%;
}

.borderb {
  border: 2px solid black;
  padding: 5px 10px;
  margin: 10px 0;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.right {
  width: 560px;
  text-align: right;
  color: rgb(65, 64, 64);
}

.size {
  font-size: 1.5rem;
  font-weight: 500;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;

  /* stylelint-disable */
  height: fit-content;
}

.fit {
  height: fit-content !important;
}

.fontlight {
  font-size: small;
  color: rgb(37, 74, 74);
}

.button {
  background-color: #4caf50; /* Green */
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 38%;
}

.margintop20 {
  margin-top: 20px;
}

.button:hover {
  background-color: #388e3c; /* Darker green */
}

.button:focus {
  outline: none;
}

.navigate {
  margin: 20px 0;
  background-color: rgb(234, 234, 241);
  font-size: 1.3rem;
}

.navigate ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer {
  margin: 20px 0;
  text-align: center;
  font-size: 1.2rem;
  color: rgb(37, 74, 74);
}

.height110 {
  height: 110px;
}
